.guild-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    color: #fff;
}

.guild-name {
    border-bottom: 2px solid var(--border-dark);
    padding-bottom: .5rem;
    display: flex;
}

.guild-name span {
    margin-left: .75rem;
}

.invite-container {
    background-color: var(--secondary-dark);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    border: 2px solid var(--border-dark);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

@media (max-width:768px) {
    .invite-container {
        flex-direction: column;
    }

    .invite-container .invite-text {
        order: 1;
        padding-top: 1rem;
    }
}


.invite-icons > .svg-icon {
    display: inline-block;
    padding: 0 .5rem;
}

/* Table */
.guild-container table {
    border-spacing: 1px;
    border: 1px solid var(--border-dark);
    table-layout: fixed;
    width: 100%;
    overflow: auto;
}

.guild-container thead tr {
    color: #fff;
    background-color: var(--secondary-dark);
}

.guild-container thead tr .username {
    width: 70%;
}

.guild-container thead tr .remove, 
.guild-container thead tr .edit {
    width: 15%;
}

.guild-container tbody tr {
    background-color: var(--tertiary-dark);
}

.guild-container tbody tr:nth-child(even) {
    background-color: var(--primary-dark);
}

.guild-container th,
.guild-container td {
    padding: .75rem 0;
    text-align: center;
}

.guild-container td .svg-icon {
    margin: auto;
}

@media (max-width:768px) {
    .guild-container table,
    .guild-container thead,
    .guild-container tbody,
    .guild-container th,
    .guild-container td,
    .guild-container tr {
        display: block;
    }

    .guild-container thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .guild-container td {
        /* Behave like a row */
        border: none;
        /* border-bottom: 1px solid #eee; */
        position: relative;
        padding-left: 5rem;
        text-align: center;
        width: 100%;
    }

    .guild-container td > * {
        /* margin-left: 5rem; */
        padding-left: 4rem;
    }

    .guild-container td input {
        margin-left: 4rem;
    }

    .guild-container td::before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 12px;
        left: 6px;
        width:45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .guild-container td:nth-of-type(1)::before { content: "Username" }
    .guild-container td:nth-of-type(2)::before { content: "Is Admin" }
    .guild-container td:nth-of-type(3)::before { content: "Remove" }
}